.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 20px;
  /* height: 100vh; */
}
.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.img-logo {
  border: 2px solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
body {
  background: linear-gradient(90deg, #4854ff, #eae4d6);
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:cursive;
  color: #282323;
  height: 300px;
}
.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #33333352;
}

.logo h1 {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: #ddd;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}
/* .separator {
  width: 1000px;
  height: 100px;
} */
.footer {
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0 ;
  justify-content: center;
  align-items: center;
  background-color: #cecaf9c0;
  color: #fff;
  height: 100px;

}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  gap: 10px;
}
.icon{
  width: 20px;
  height: 20px;
}
.iconBorder{
  border: 2px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.closing{
  color: black;
}
